@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", ui-sans-serif, system-ui, sans-serif;

  --color-turquoise: #2EC4B6;
  --color-purple: #8A67F0;
  --color-yellow: #FFD166;
  --color-dark: #111827;
  --color-dark-light: #4B5563;
  --color-soft: #F8FAFC;
}

/* Base style resets and customizations */
html {
  scroll-behavior: smooth;
  font-family: var(--font-sans);
  background-color: var(--color-soft);
  color: var(--color-dark);
}

h1, h2, h3, h4, th {
  font-family: var(--font-display);
}
